body{
	background-color: #B2C9AD;
	font-size: 150%;
	font-family: Lucida Sans Unicode;
	color: #4B5945;
}

.collum{
	display: inline-block;
	text-align: center;
	width: 20%;
	margin-left: 2%;
	float: right;
}

.header-div{
	background-color: #91AC8F;
	width: 90%;
	margin: auto;
	margin-top: 2%;
	margin-bottom: 2%;
	text-align: center;
}

.centered{
	margin: auto;
	width: 80%;	
}

.example1{
	display: inline-block;
	border: 3px solid #66785F ;
	
}

footer{
	clear: both;
	background-color: #91AC8F;
	height: 100px;
	margin: 3%;
	
}

a:hover {
  color: #66785F;
}

a{
	color: #4B5945;
}

.title{
	background-color: #91AC8F;
	
}
